@charset "UTF-8";

*{
	box-sizing: border-box;
}

a  {
    font-weight: bold;
    color:green;
}

.paraf{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px;
	height: 400px;
    display: block;
}